# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Camunda Cloud client credentials
ZEEBE_ADDRESS=
ZEEBE_CLIENT_ID=
ZEEBE_CLIENT_SECRET=
ZEEBE_AUTHORIZATION_SERVER_URL=